@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap')

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  --overlay: rgba(255, 255, 255, 0.9);
}

body {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif;  
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  color: var(--body);
}

/* 新しいクラス名を<h1>に追加して、そのクラスに対してスタイルを適用する例 */
.kimitama-font {
  font-family: 'Slackside One', sans-serif;
  font-size: 180px;
  color: #F4F4F4; /* テキストの色 */
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2); /* 柔らかい影 */
}

.pile-font {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif; 
  font-size: 80px;
  color: #F4F4F4; /* テキストの色 */
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2); /* 柔らかい影 */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark);
  font-weight: 700;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  padding-top: 16px;
  display: inline-block; /* リンクをインラインブロック要素として扱う */
  transition: color 0.4s, transform 0.4s; /* 色と拡大のトランジションを追加 */
}

.navbar .nav-link:hover {
  color: #fff !important; /* ホバー時の色を赤に設定 */
  transform: scale(1.2); /* ホバー時に少し拡大 */
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
}

.hero {
  background-image: url("/img/piece-pile\ 4.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.hero::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* 白の半透明オーバーレイ */
  pointer-events: none; /* オーバーレイがクリックやタッチ操作を妨げないようにします */
  z-index: -1;
}

.card-effect {
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  background-color: #fff;
  padding: 25px;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.header {
  display: flex; /* フレックスボックスを使用して要素を横並びに */
  align-items: center; /* アイテムを中央揃えに */
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  font-size: 32px;
  justify-content: center;
  border-radius: 100px;
}

.iconbox img {
  width: 100%; /* 親要素の幅に合わせる */
  height: 100%; /* 親要素の高さに合わせる */
  border-radius: 100px; /* 角を丸くする */
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、設定された高さと幅に収まるように調整 */
}

.service {
  position: relative;
  overflow: hidden;
}

.service::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.35s ease;
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: #fff;
}

.service:hover .iconbox {
  background-color: #fff;
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

/* メニュー写真 */
.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); */
  opacity: 0;
  transition: all 0.4s ease;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

img {
  width: 100%;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

.project img {
  transition: all 0.4s ease;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

.project:hover .overlay {
  opacity: 1;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

.project:hover img {
  transform: scale(1.5);
  border-radius: 10px; /* ホバー時も角の丸みを維持 */
}

.footer-top {
  background-color: lightblue;
}