/* @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=DotGothic16&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Slackside+One&family=Trocchi&display=swap') */

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
  --overlay: rgba(255, 255, 255, 0.9);
}

body {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif;  
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  color: var(--dark);
  max-width: 1200px; /* 最大幅を1200pxに設定 */
  margin: 0 auto; /* 上下のマージンを0に、左右のマージンを自動に設定して中央寄せ */
}

.navbar {
  background-image: linear-gradient(to bottom, #007bff 0%, rgba(0, 123, 255, 0.2) 100%);
}

.card-img-top {
  max-width: 100%; /* 画像の幅をカードの幅に合わせる */
  height: 125px; /* 画像の高さを自動で調整し、アスペクト比を保つ */
  display: block; /* 画像をブロック要素として表示し、余白などの制御を可能にする */
  object-fit: contain; /* 画像が指定したコンテナに収まるように調整する（必要に応じて） */
}

/* 新しいクラス名を<h1>に追加して、そのクラスに対してスタイルを適用する例 */
.kimitama-font {
  font-family: "Trocchi", serif;
  font-size: 100px;
  color: #F4F4F4; /* テキストの色 */
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2); /* 柔らかい影 */
}

.pile-font {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif; 
  font-size: 40px;
  color: #F4F4F4; /* テキストの色 */
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2); /* 柔らかい影 */
}


.kimitama-font, .pile-font, .yomi-font {
  text-shadow: 
    -2px -2px 0 #fff,  
     2px -2px 0 #fff,
    -2px  2px 0 #fff,
     2px  2px 0 #fff,
    0px   2px 0 #fff,
    2px   0px 0 #fff,
    0px  -2px 0 #fff,
   -2px   0px 0 #fff;
}


.memo-font {
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff,
    0px   1px 0 #fff,
    1px   0px 0 #fff,
    0px  -1px 0 #fff,
   -1px   0px 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark);
  font-weight: 700;
}

.card-sab {
  background-color: rgba(255, 255, 255, 0.7); /* 半透明の白背景 */
  padding: 2px; /* 内側の余白を2pxに設定 */
  max-width: 600px; /* 最大横幅を1200pxに設定 */
  margin: 0 auto; /* 上下の余白を0にし、左右の余白をautoにして中央寄せ */
  /* border: solid 1px #000; 枠線を追加（必要に応じて） */
  border-radius: 30px; /* 角を丸くする */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* 枠際をぼやかせる */
}

section{
  padding-top: 30px;
  padding-bottom: 30px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  padding-top: 16px;
  display: inline-block; /* リンクをインラインブロック要素として扱う */
  transition: color 0.4s, transform 0.4s; /* 色と拡大のトランジションを追加 */
}

.navbar .nav-link:hover {
  color: #fff !important; /* ホバー時の色を赤に設定 */
  transform: scale(1.2); /* ホバー時に少し拡大 */
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
}

.btn-secondary {
  background-image: linear-gradient(to bottom, #f8b195, #f67280);
  border: none; /* 枠線を消したい場合 */
  color: black; /* テキストの色を変更したい場合 */
}

.btn-success {
  background-image: linear-gradient(to bottom, #a8e063, #56ab2f);
  border: none; /* 枠線を消したい場合 */
  color: black; /* テキストの色を変更したい場合 */
}

.hero {
  max-width: 1200px; /* コンテナの最大幅を1200pxに設定 */
  width: 100%; /* ビューポートや親要素が1200px以下の場合、コンテナの幅を100%に設定 */
  height: 600px; /* 特定のピクセル数で高さを設定 */
  margin: 0 auto; /* 中央揃えにするためのマージン設定 */
  background-image: url("https://github.com/komashige/Piece-Pile.LLC-homepage/blob/main/img/mainimg.jpg?raw=true");
  background-position: center center;
  background-size: 1200px auto; /* 幅を1200pxに設定し、高さは自動調整 */
  background-repeat: no-repeat; /* 背景画像が繰り返されないように設定 */
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero {
    background-attachment: scroll;
    padding-top: 100px; /* ナビゲーションバーとの間にスペースを追加 */
  }
}

@media (max-width: 768px) {
  .pile-font {
    font-size: 40px; /* スマホ表示用のフォントサイズに調整 */
  }
  .kimitama-font {
    font-size: 60px; /* スマホ表示用のフォントサイズに調整 */
  }
}


.hero::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5); /* 白の半透明オーバーレイ */
  pointer-events: none; /* オーバーレイがクリックやタッチ操作を妨げないようにします */
  z-index: -1;
}

.card-effect {
  box-shadow: 0 8px 22px rgba(0,0,0,0.2);
  background-color: #fff;
  padding: 25px;
  border-radius: 10px; /* 角を丸くする */
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
  
}

.header {
  display: flex; /* フレックスボックスを使用して要素を横並びに */
  align-items: center; /* アイテムを中央揃えに */
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  font-size: 32px;
  justify-content: center;
  border-radius: 100px;
}

.iconbox img {
  width: 100%; /* 親要素の幅に合わせる */
  height: 100%; /* 親要素の高さに合わせる */
  border-radius: 100px; /* 角を丸くする */
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、設定された高さと幅に収まるように調整 */
}

.service {
  position: relative;
  overflow: hidden;
}

.service::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.35s ease;
  z-index: -1;
  
}

.service:hover h5,
.service:hover p {
  color: #fff;
}

.service:hover .iconbox {
  background-color: #fff;
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

.service-kimitama::after {
  background-color: orange; /* 橙色の背景 */
  border-radius: 10px; /* 角を丸くする */
}

.service-kimitama {
  position: relative; /* オーバーレイの位置決めの基準とする */
  background-image: url("https://github.com/komashige/Piece-Pile.LLC-homepage/blob/main/img/%E3%81%8D%E3%81%BF%E3%81%9F%E3%81%BE%E3%80%80%EF%BC%92.jpg?raw=true"); /* 背景画像のURL */
  background-size: cover; /* 背景画像をボックスにぴったり合わせる */
  background-position: center; /* 背景画像を中央に配置 */
}

.service-kimitama::before {
  content: ""; /* 必須: オーバーレイを生成 */
  position: absolute; /* オーバーレイを絶対位置で配置 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); /* 白の半透明オーバーレイ */
  z-index: 1; /* オーバーレイをコンテンツの下に配置 */
}

/* コンテンツをオーバーレイより前面に表示 */
.service-kimitama > * {
  position: relative;
  z-index: 2;
}

.service-room::after {
  background-color: #8FBC8F; /* 薄緑色の背景 */
  border-radius: 10px; /* 角を丸くする */
}

.service-room {
  position: relative; /* オーバーレイの位置決めの基準とする */
  background-image: url("https://github.com/komashige/Piece-Pile.LLC-homepage/blob/main/img/pro2.jpg?raw=true"); /* 背景画像のURL */
  background-size: cover; /* 背景画像をボックスにぴったり合わせる */
  background-position: center; /* 背景画像を中央に配置 */
}

.service-room::before {
  content: ""; /* 必須: オーバーレイを生成 */
  position: absolute; /* オーバーレイを絶対位置で配置 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* 白の半透明オーバーレイ */
  z-index: 1; /* オーバーレイをコンテンツの下に配置 */
}

/* コンテンツをオーバーレイより前面に表示 */
.service-room > * {
  position: relative;
  z-index: 2;
}

.service-kitchen::after {
  background-color: #f5821f; /* 赤色の背景 */
  border-radius: 10px; /* 角を丸くする */
}

.service-kitchen {
  position: relative; /* オーバーレイの位置決めの基準とする */
  background-image: url("https://github.com/komashige/Piece-Pile.LLC-homepage/blob/main/img/%E3%81%8D%E3%81%BF%E3%81%9F%E3%81%BE%E3%80%80%EF%BC%93.jpg?raw=true"); /* 背景画像のURL */
  background-size: cover; /* 背景画像をボックスにぴったり合わせる */
  background-position: center; /* 背景画像を中央に配置 */
}

.service-kitchen::before {
  content: ""; /* 必須: オーバーレイを生成 */
  position: absolute; /* オーバーレイを絶対位置で配置 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); /* 白の半透明オーバーレイ */
  z-index: 1; /* オーバーレイをコンテンツの下に配置 */
}

/* コンテンツをオーバーレイより前面に表示 */
.service-kitchen > * {
  position: relative;
  z-index: 2;
}

.service-room::after {
  background-color: #8FBC8F; /* 薄緑色の背景 */
  border-radius: 10px; /* 角を丸くする */
}

.service-kitchen::after {
  background-color: #f5821f; /* 赤色の背景 */
  border-radius: 10px; /* 角を丸くする */
}


/* メニュー写真 */
.project {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); */
  opacity: 0;
  transition: all 0.4s ease;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

img {
  width: 100%;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

.project img {
  transition: all 0.4s ease;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

.project:hover .overlay {
  opacity: 1;
  border-radius: 10px; /* ここで四隅の角を丸くする */
}

.project:hover img {
  transform: scale(1.5);
  border-radius: 10px; /* ホバー時も角の丸みを維持 */
}

/* メールアドレスのリンクに適用されるスタイル */
a[href^="mailto:"] {
  color: inherit; /* 初期状態では親要素の色を継承 */
  transition: color 0.3s ease; /* 色の変化を滑らかに */
}

/* メールアドレスのリンクにカーソルがホバーされたときのスタイル */
a[href^="mailto:"]:hover {
  color: #fff; /* ホバー時に色を白に変更 */
}

.home-back a {
  color: white; /* リンクの基本色を白に設定 */
  display: inline-block; /* リンクをインラインブロック要素として扱う */
}

.home-back a:hover {
  color: #00008B; /* ホバー時にダークブルーに変更 */
}

.footer-top {
  background-image: linear-gradient(to bottom, #007bff 0%, rgba(0, 123, 255, 0.2) 100%);
}

